# Ignore virtual environment
venv/
bin/
lib/
share/
etc/
pyvenv.cfg

# Ignore checkpoints
.ipynb_checkpoints/

# Ignore all CSV files (if you want to ignore ALL csvs)


# Ignore python cache
__pycache__/
*.pyc

# Mac system files
.DS_Store